<h2><%= @school_district.name %></h2>

<% if current_user == @school_district.district_admin %>
  <p class="edit"><%= link_to "Edit District Information", edit_school_district_path(@school_district) %></p>
<% end %>
<p class="district-admin">District Administrator: <%= @school_district.user.name %></p>

<div class="address-box">
  <p><%= @school_district.address %></p>
  <p><%= "#{@school_district.city}, #{@school_district.state} #{@school_district.zip_code}" %></p>
</div>

<div class="schools-box">
  <%= link_to "Add School", new_school_district_school_path(@school_district, @school) %>
</div>

<% if current_user == @school_district.district_admin %>
  <div class="sd-membership-invite-box">
    <%= form_for @invite, url: school_district_invites_path do |f| %>
      <%= f.hidden_field :school_district_id, value: @school_district.id %>
      <%= f.label :email, "Enter an email address to invite users to this district." %>
      <%= f.email_field :email %>
      <%= f.label :account_type, "What type of account will this invitee have:" %>
      <%= f.select :account_type, options_for_select(account_type_options), { include_blank: '' } %>
      <%= f.submit 'Send Invitation' %>
    <% end %>
  </div>
<% end %>
