<h3><%= @school.name %></h3>
<li><%= "Status: #{@school.status}" %></li>
<li><%= link_to "Edit School Info", edit_school_district_school_path(@school.school_district, @school) %></li>

<p><%= link_to "#{@school.website}", @school.website %></p>
<p>School District: <%= @school.school_district.name %></p>
<p>District Administrator: <%= @school.school_district.user.name %></p>

<p>
  <%= @school.address %><br>
  <%= "#{@school.city}, #{@school.state} #{@school.zip_code}" %>
</p>
